{% extends 'todo/base.html' %}
{% load static %}
{% block content %}


Today's Tasks:<br>
<select id="task-action">
    <option value="mark-complete">Mark Complete</option>
    <option value="add-to-queue">Add to Queue</option>
    <option value="remove-from-queue">Remove from Queue</option>
  </select>
<table>
      <tr>
      <td></td>
      <td>ID</td>
      <td>Task</td>
      <td>Category</td>
      <td>Status</td>
      <td>Priority</td>
      <td>Due Date</td>
      </tr>
  {% for task in tasks %}
      <tr id="task-row-{{task.id}}" class="clickable"
        onmouseover="ns.highlightTask({{task.id}});" onmouseout="ns.unhighlightTask({{task.id}});"
        onclick="ns.clickTask({{task.id}});" ondblclick="ns.doubleClickTask({{task.id}});">
      <td><input type="checkbox" onchange="ns.checkTask({{ task.id }}, this.checked)"/></td>
      <td>{{task.id}}</td>
      <td><span id="task-description-{{ task.id }}">{{ task.text }}</span></td>
      <td>{{task.category}}</td>
      <td>{{task.status}}</td>
      <td>{{task.priority}}</td>
      <td>{{task.due_date}}</td>
      </tr>

  {% endfor %}
</table>


<script>
ns.task_data = JSON.parse('{{tasks_json|safe}}');


console.log(ns.task_data);
</script>

{% endblock%}







